# Nextflow
.nextflow*

# Snakemake
results/**
resources/**
.snakemake
.snakemake/**
logs/**

# Just in case downloads are left over
downloads/*

# Local Qiime2 tmp
tmp/

# R
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
.httr-oauth
*_cache/
/cache/

