# temp folders from pipeline
step1_download/*tgz
step2_extract/sh_qiime_release*
step3_format/sh_refs_qiime*
step4_import/*.qza
step5_export/*.qza

# Snakemake
results/**
resources/**
.snakemake
.snakemake/**
