// nextflow.config
conda.enabled = true

params {
  version = "2025-02-19"
  // See column Release date in table 'QIIME releases' on https://unite.ut.ee/repository.php
  // Major Unite version/date is not iterable by design, as I only run on new releases

  taxon_group = ["fungi", "eukaryotes"]
  // "fungi", "eukaryotes"

  cluster_id = ["99", "97", "dynamic"]
  // "99", "97", "dynamic"

  singletons = [false]
  // or true, which is worse, see https://github.com/colinbrislawn/unite-train/issues/17#issuecomment-3836231283

  outdir = "./results"

  // For repoprts
  timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm')
}

process {
  withLabel: 'qiime2' {
    // Colin's WSL conda
    // conda = '/home/biouser/miniconda3/envs/qiime2-amplicon-2026.4'
    // Colin's Mac pixi
    // conda = '.pixi/envs/default'

    // Dynamically evaluate the Pixi environment before the script runs
    beforeScript = "eval \"\$(pixi shell-hook --manifest-path ${baseDir}/pixi.toml)\""

    // Pull it from the pixi.toml file, should look like "2026.4"
    ext.qiime2_version = {
      def toml = new File("${baseDir}/pixi.toml").text
      (toml =~ /qiime2\/(\d+\.\d+)\/qiime2/)[0][1]
    }()
  }
}

report {
    enabled = true
    overwrite = true
    file = "${launchDir}/results/report_${params.timestamp}.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${launchDir}/results/timeline_${params.timestamp}.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${launchDir}/results/trace_${params.timestamp}.tsv"
}
