// nextflow.config
conda.enabled = true

params {
  version = "2025-02-19"
  // See column Release date in table 'QIIME releases' on https://unite.ut.ee/repository.php
  // Major Unite version/date is not iterable by design, as I only run on new releases

  taxon_group = ["fungi"]
  // "fungi", "eukaryotes"

  cluster_id = ["99", "97", "dynamic"]
  // "99", "97", "dynamic"

  singletons = [false]
  // or true, which is worse, see https://github.com/colinbrislawn/unite-train/issues/17#issuecomment-3836231283

  outdir = "./results"
}

process {
  withLabel: 'qiime2' {
    conda = '/home/biouser/miniconda3/envs/qiime2-amplicon-2026.4'
    ext.qiime2_version = conda.split('-').last()
  }
}

def timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm')

report {
    enabled = true
    overwrite = true
    file    = "${launchDir}/results/report_${timestamp}.html"
}

timeline {
    enabled = true
    overwrite = true
    file    = "${launchDir}/results/timeline_${timestamp}.html"
}

trace {
    enabled = true
    overwrite = true
    file    = "${launchDir}/results/trace_${timestamp}.tsv"
}
