// nextflow.config
conda.enabled = true

process {
  withLabel: 'qiime2' {
    conda = '/Users/cbrisl/miniforge3/envs/qiime2-amplicon-2026.1'
  }
}

def timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm')

report {
    enabled = true
    overwrite = true
    file    = "${launchDir}/results/report_${timestamp}.html"
}

timeline {
    enabled = true
    overwrite = true
    file    = "${launchDir}/results/timeline_${timestamp}.html"
}
